.font_amethyst {
	color: #9b59b6;
}

div .sense_module {
	height: 5em;
	width: 10em;
	background-color: #8e44ad;
	border-radius: 1em;
	text-align: center;
	display: table-cell;
}

div .do_module {
	height: 5em;
	width: 10em;
	background-color: #c0392b;
	border-radius: 1em;
	text-align: center;
	display: table-cell;
}

div .sense_module_abbrev {
	height: 1.5em;
	width: 3em;
	background-color: #8e44ad;
	border-radius: 1em;
	text-align: center;
	display: table-cell;
}

div .do_module_abbrev {
	height: 1.5em;
	width: 3em;
	background-color: #c0392b;
	border-radius: 1em;
	text-align: center;
	display: table-cell;
}