{% verbatim %}
	Do: <span class='do_module_abbrev' ng-show='selectedModule'>{{selectedModule.name}}</span><span><button ng-show='!selectedModule' ng-click='selectModule()'class='btn-primary btn'>  +  </button></span>
	
	<span> 
		<button ng-show='selectedModule && !selectedAction' ng-click='displayTable()' class='btn-primary btn'> + </button> <button ng-show='selectedModule && selectedAction' ng-click='displayTable()' class='btn-primary btn'> {{selectedAction}}</button> 
		<button ng-show='selectedModule && selectedAction && selectedModule[selectedAction] && !actionAfterAction' ng-click='displayTable("actionAfter")' class='btn-primary btn'> + </button> <button ng-show='actionAfterAction' ng-click='displayTable("actionAfter")' class='btn-primary btn'> {{actionAfterAction}}</button>

	<button ng-click='goDeeper()' class='btn-primary btn'>deeper</button>
	</span>
	
	<button ng-show='selectedModule' class='btn-danger btn' ng-click='clear()'>-</button>

	<display-table ng-hide='selectedAction && getActionAfterOptions' show-table='showTable' selected='selectedAction' options='getOptions()'></display-table>
	<display-table ng-show='selectedAction && getActionAfterOptions' show-table='showTable' selected='actionAfterAction' options='getOptions()'></display-table>
	
{% endverbatim %}